*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
@font-face{
    font-family: 'Open Sans';
    src: url(../Open_Sans/OpenSans-Regular.ttf);
}
@font-face{
    font-family: 'Open';
    src: url(../Open_Sans/OpenSans-Bold.ttf);
}
.header{
    display: flex;
    width: 100%;
    height: 56px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    .header__container{
        display: flex;
        width: 1150px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        .container__left{
            .container__menyu{
                display: flex;
                .menyu__iytm{
                    padding: 8px 16px;
                    .menyu__link{
                        color: #000000;
                        font-size: 15px;
                        font-family: 'Open Sans';
                        &:hover{
                            border-bottom: 2px solid #00BAFC;
                            color: #00BAFC;
                            padding-bottom: 5px;
                        }
                    }
                }
                .menyu__active{
                    padding-top: 10px;
                    .menyu__link{
                        padding: 8px 16px;
                        color: #000000;
                        font-family: 'Open Sans';
                        font-size: 15px;
                        border-radius: 5px;
                        background: #00BAFC;
                        transition: 1s;
                    }
                }
            }
        }
    }
}

    // header start

.section{
    width: 100%;
    height: 458px;
    .container{
        display: flex;
        width: 1150px;
        margin: 0 auto;
        justify-content: space-between;
        .container__section-left{
            padding-top: 97px;
            width: 470px;
            .section-left__text{
                color: #000000;
                font-weight: bold;
                font-family: 'Open';
                font-size: 30px;
            }
            .section-left__lorem{
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                font-family: 'Open Sans';
                color: #000000; 
                margin-top: 16px;
            }
            .section-left__button{
                width: 232px;
                height: 40px;
                font-size: 16px;
                color: #FFFFFF;
                background: #00BAFC;
                border-radius: 5px;
                border: none; margin-top: 16px;
                &:hover{
                    background-color: black;
                    transition: 1s;
                }
            }
        }
        .container__section-rghit{
            padding-top: 80px;
        }
    }
}

    // .servisec start
    
.container__services-logo{
        justify-content: center;
        text-align: center;
        padding-top: 56px;
        .services-logo__text{
            font-weight: bold;
            font-size: 24px;
            font-family: 'Open';
            font-weight: bold;
        }
        .services-logo__lorem{
            width: 719px;
            margin: 16px auto;
            font-family: 'Open Sans';
        }
    }


.services{
    width: 100%;
    height: 930px;
    .services__container{
        display: flex;
        flex-direction: column;
        width: 1150px;
        margin: 0 auto;
        .container__cotent{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: center;
            padding-top: 10px;
            .content__content-logo{
                width: 330px;
                justify-content: center;
                height: 270px;
                background: #FFFFFF;
                box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                .content__img{
                    padding-top: 15px;
                }
                .content__text{
                    padding-top: 20px;
                }
                .content__lorem-ipsum{
                    padding-top: 16px;
                }
            }
        }
        .container__ded{
            display: flex;
            padding-top: 60px;
            width: 820px; 
            margin: 0 auto;
            text-align: center;
            justify-content: space-around;
            .ded__ded-logo{
                width: 330px;
                justify-content: center;
                height: 270px;
                background: #FFFFFF;
                box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                .ded__img{
                    padding-top: 15px;
                }
                .ded__text{
                    padding-top: 20px;
                }
                .ded__lorem-ipsum{
                    padding-top: 16px;
                }
            }
        }
        .container__buton-logo{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            align-items: center;
            .container__buton{
                width: 167px;
                height: 40px;
                font-family: 'Open Sans';
                font-size: 16px;
                color: #FFFFFF;
                background: #00BAFC;
                border: none;
                width: 167px;
                height: 40px;
                background: #00BAFC;
                border-radius: 5px;
                &:hover{
                    background-color: black;
                    transition: 1s;
                }
            }
            .container__link{
                font-family: 'Open Sans';
                font-size: 16px;
                color: #00BAFC;
                margin-left: 30px;
                &:hover{
                    border-bottom: 2px solid #00BAFC;
                }
            }
        }
    }
}

    // ishlamalr start

.ishlamalar{
    height: 1676px;
    width: 100%;
    .ishlamalar__container{
        width: 950px;
        margin: 0 auto;
        .container__talabalar{
            width: 880px;
            justify-content: space-between;
            display: flex;
            .talabalar__talaba{
                padding-top: 40px;
            }
            .talabalar__talaba-uz{
                padding-top: 122px;
                .talabalar__text{
                    font-weight: bold;
                    font-family: 'Open';
                    font-size: 20px;
                }
                .talabalar__lorem{
                    font-family: 'Open Sans';
                    width: 493px;
                    padding-top: 15px;
                    font-size: 16px;
                }
            }
        }
        .container__button-box{
            padding-top: 30px;
            justify-content: center;
            display: flex;
            .container__button-ded{
                width: 167px;
                height: 40px;
                background: #00BAFC;
                color: #ffffff;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                &:hover{
                    background-color: black;
                    transition: 1s;
                }
            }
        }
    }
}

    //   start logo

.buyurtmalar{
        display: flex;
        flex-direction: column;
        height: 540px;
        width: 1366px;
        background: #00BAFC;
        align-items: center;
        padding-top: 60px;
        text-align: center;
        color: #fff;
        h2{
            font-size: 24px;
        }
        p{
            padding-top: 20px;
            width: 720px;
            line-height: 23px;
        }
        .input-logo{
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 330px;
            background-color: #fff;
            border-radius: 10px;
            margin-top: 20px;
            padding-top: 15px;
            .input-logo-box{
                margin: 10px auto;
                height: 56px;
                width: 300px;
                padding-left: 15px;
                background: #F3F3F3;
                outline: none;
                border-radius: 5px;
                border: none;
            }
            .button-logo-div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 140px;
                height: 38px;
                background: #00BAFC;
                border: none;
                margin: 18px auto;
                border-radius: 5px;
                color: #fff;
            }
        }
 }

    // footer start

.main__footer{
        background-color: #000;
        .container{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 60px 0;
            width: 1150px;
            margin: 0 auto;
            color: #fff;
            .image{
                display: flex;
                flex-direction: row;
            }
            .Copyright{
                width: 300px;
                h3{
                    font-size: 20px;
                    font-weight: 700px;
                    font-family: 'Open Sans';
                    margin-bottom: 40px;
                }
                p{
                    font-size: 15px;
                    font-family: 'Open Sans';
                    line-height: 23px;
                    letter-spacing: 0.4px;
                }
            }
            .dddd{
                h3{
                    font-size: 20px;
                    font-family: 'Open Sans';
                    font-weight: 700px;
                    margin-bottom: 40px;
                }
                a{
                    font-size: 16px;
                    font-family: 'Open Sans';
                    color: #fff;
                    text-decoration: none;
                    font-weight: 500;
                    h5{
                        margin-bottom: 30px;
                        letter-spacing: 0.5px;
                    }
                }
                h5:last-child{
                    padding-bottom: 0;
                }
            }
            .aaaa{
                h3{
                    font-size: 20px;
                    font-family: 'Open Sans';
                    font-weight: 700px;
                    margin-bottom: 40px;
                }
                a{
                    font-size: 16px;
                    color: #fff;
                    font-weight: 500;
                    font-family: 'Open Sans';
                    padding-bottom: 25px;
                    letter-spacing: 0.5px;
                    margin-left: 15px;
                    text-decoration: none;
                }
            }
        }
}