*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: skyblue;
}
// Asosiy 
.button{
    width: 180px;
    height: 40px;
    background-color: #00b7fa;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.container{
    margin: 0 100px;
}
.container2{
    margin: 0 200px;
}
//Asosiy

//header start
header{
    background-color: #fff;
    .header__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        .main__logo{
            a{
                font-size: 23px;
                text-decoration: none;
                color: #191919;
            }
        }
        .navbar{
            .main__menu{
                display: flex;
                flex-direction: row;
                align-items: center;
                .main__item{
                    list-style: none;
                    .main__link{
                        text-decoration: none;
                        color: #000;
                        font-size: 16px;
                        font-weight: 500;
                        border-bottom: 3px solid transparent;
                        padding: 20px;
                        &:hover{
                            border-bottom: 3px solid gray;
                        }
                    }
                }
                .active{
                    padding: 10px 15px;
                    color: #fff;
                    background-color: #00b7fa;
                    border-radius: 5px;
                    .main__link{
                        text-decoration: none;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
//header end

//Services start
.Services{
    background-color: #fff;
    .container2{
        text-align: center;
        padding: 100px 0;
        h1{
            font-size: 45px;
            font-weight: 600;
            letter-spacing: 0.5;
            margin-bottom: 40px;
        }
        p{
            font-size: 17px;
            line-height: 28px;
            letter-spacing: 0.3px;
        }
    }
}
//Services end

//Project start
.Project{
    background-color: #F4F4F4;
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        .enterprises{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 20px 0;
            background-color: #fff;
            .content__left{
                width: 30%;
                img{
                    width: 70%;
                    margin: 15px 0 0 15px;
                }
            }
            .content__right{
                width: 70%;
                h4{
                    font-size: 20px;
                    line-height: 26px;
                    font-style: normal;
                    font-weight: 700;
                    margin: 30px 0;
                    text-transform: uppercase;
                    letter-spacing: 0.4;
                    color: #000000ec;
                }
                p{
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    line-height: 26px;
                    margin-right: 20px;
                    margin-bottom: 25px;
                }
                h6{
                    margin-left: 20px;
                    font-size: 13px;
                    padding: 12px 0;
                    position: relative;                    
                    &::before{
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #00b7fa;
                        left: 0;
                        bottom: 14px;
                        transform: translate( -20px, 0px);
                    }
                }
                .batafsil{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    margin: 40px 0;
                    .malimot{
                        margin-left: 40px;
                        letter-spacing: 1px;
                        color: #00b7fa;
                    }
                }
            }
        }
    }
}
//Project end

// order__form start
.order__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #00BAFC;
    padding-bottom: 60px;
    .order__form__logo{
        h2{
            font-size: 24px;
            font-weight: 700;
            font-style: normal;
            color: #fff;
            margin-top: 60px;
        }
        p{
            margin: 30px 0;
            color: #fff;
            padding: 0 40px;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 1px;
        }
    }
    .Ordering{
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        background-color: #fff;
        width: 430px;
        height: 350px;
        border-radius: 8px;
        input{
            margin: 20px 0;
            width: 90%;
            height: 50px;
            padding-left: 15px;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: #f3f3f3;
        }
        input[list]{
            margin-left:auto;
            margin-right:auto;
            max-width: 500px;
            padding: 20px 20px 20px 20px;
            font: 12px Arial, Helvetica, sans-serif;
        }
        .button{
            margin-top: 20px;
        }
    }
}
// order__form end

//footer start
.main__footer{
    background-color: #000;
    .container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 60px 0;
        color: #fff;
        .image{
            display: flex;
            flex-direction: row;
        }
        .Copyright{
            width: 300px;
            h3{
                font-size: 20px;
                font-weight: 700px;
                margin-bottom: 40px;
            }
            p{
                font-size: 15px;
                line-height: 23px;
                letter-spacing: 0.4px;
            }
        }
        .dddd{
            h3{
                font-size: 20px;
                font-weight: 700px;
                margin-bottom: 40px;
            }
            a{
                font-size: 16px;
                color: #fff;
                text-decoration: none;
                font-weight: 500;
                h5{
                    margin-bottom: 30px;
                    letter-spacing: 0.5px;
                }
            }
            h5:last-child{
                padding-bottom: 0;
            }
        }
        .aaaa{
            h3{
                font-size: 20px;
                font-weight: 700px;
                margin-bottom: 40px;
            }
            a{
                font-size: 16px;
                color: #fff;
                font-weight: 500;
                padding-bottom: 25px;
                letter-spacing: 0.5px;
                margin-left: 15px;
                text-decoration: none;
            }
        }
    }
}
//footer end